.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
*.hdx

# 忽略 Hedex 目录及常见大型文件类型
source/_posts/Hedex/
*.cfs
*.bin
*.dll

# Meting API Security
local-meting/node_modules/
local-meting/.env
local-meting/.env.test
